@font-face {
  font-family  : 'NanumBarunGothicOTF';
  src : url(../fonts/NanumBarunGothic.eot) format('eot');
  src : url(../fonts/NanumBarunGothic.woff) format('woff');
  src : url(../fonts/NanumBarunGothic.ttf) format('truetype');
  font-weight : normal;
  font-style : normal;
}

@font-face {
  font-family  : 'NanumBarunGothicOTFBold';
  src : url(../fonts/NanumBarunGothicBold.eot) format('eot');
  src : url(../fonts/NanumBarunGothicBold.woff) format('woff');
  src : url(../fonts/NanumBarunGothicBold.ttf) format('truetype');
  font-weight : bold;
  font-style : normal;
}
